* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../assets/work-home-desk-office.jpeg);
    /* background-color: aliceblue; */
    background-size: cover;
}
html {
    font-family: "Montserrat", sans-serif;
}